@model Game_StoreWeb.Models.DTO.RegisetrationRequestDTO
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="~/css/auth.css">
    <link rel="stylesheet" href="~/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                        <li><a asp-action="Platform" asp-controller="Home">Games</a></li>
                        <li><a asp-action="Index" asp-controller="GameCompany">Game Company</a></li>
                        <li><a asp-action="Index" asp-controller="GameType">Game Type</a></li>
                        <li><a asp-action="Index" asp-controller="Platform">Platform</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <form method="post">
            <h2>Register</h2>
            <div class="input-field">
                <input asp-for="UserName" type="text" required>
                <label>Enter your email</label>
            </div>
            <div class="input-field">
                <input asp-for="Name" type="text" required>
                <label>Enter your Name</label>
            </div>
            <div class="input-field">
                <input id="password-input" asp-for="Password" type="password" required>
                <label>Enter your password</label>
                <span class="password-toggle-icon" onclick="togglePasswordVisibility()">
                    <i class="fa fa-eye" id="eye-icon"></i>
                </span>
            </div>
            @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
            {
                <div class="input-field">
                    <div class="role-container">
                        <input type="radio" asp-for="Role" value="customer" /> Customer
                        <input type="radio" asp-for="Role" value="admin" /> Admin
                    </div>
                </div>

            }
            <button type="submit">Register</button>
            <div class="register">
                <p>Have account already? <a asp-action="Login" asp-controller="Auth">Login</a></p>
            </div>
        </form>
    </div>
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("password-input");
            var eyeIcon = document.getElementById("eye-icon");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                eyeIcon.classList.remove("fa-eye");
                eyeIcon.classList.add("fa-eye-slash");
            } else {
                passwordInput.type = "password";
                eyeIcon.classList.remove("fa-eye-slash");
                eyeIcon.classList.add("fa-eye");
            }
        }
    </script>
</body>
</html>