<link rel="stylesheet" href="~/css/navbar.css" />

<div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
        <div>
            <div>
                <ul>
                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li><a asp-action="Platform" asp-controller="Home">Games</a></li>
                    <li><a asp-action="Index" asp-controller="GameCompany">Game Company</a></li>
                    <li><a asp-action="Index" asp-controller="GameType">Game Type</a></li>
                    <li><a asp-action="Index" asp-controller="Platform">Platform</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>