@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/platform.css" />
    <link rel="stylesheet" href="~/css/sweetalert2.min.css" />
    <script src="~/js/sweetalert2.min.js"></script>
    <title>
        Game Platform
    </title>
</head>
<body>
    <div class="container">
        <div class="split left">
            <h1>Playstation</h1>
            <a asp-action="IndexPs" asp-controller="Game" class="btn">Buy Now</a>
        </div>
        <div class="split pc">
            <h1>PC</h1>
            <a asp-action="IndexPc" asp-controller="Game" class="btn">Buy Now</a>
        </div>
        <div class="split right">
            <h1>XBox</h1>
            <a asp-action="IndexXbox" asp-controller="Game" class="btn">Buy Now</a>
        </div>
    </div>
    <partial name="_Notification" />
</body>
</html>